* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.topbar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    background: #33292a;
    z-index: 10;
    display: flex;
    align-items: center;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover{
    opacity: 0.8;
}

/* hero */
.hero {
    height: 100vh;
    background-image: url(assets/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-text {
    position: absolute;
    right: 15%;
    bottom: 11%;
}

.hero-text h1 {
    color: white;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.05;
    text-align: right;
}


