* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.topbar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    background: #33292a;
    z-index: 10;
    display: flex;
    align-items: center;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover{
    opacity: 0.8;
}

/* hero */
.hero {
    height: 100vh;
    background-image: url(assets/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 70px;
}

.hero-text {
    position: absolute;
    right: 15%;
    bottom: 11%;
}

.hero-text h1 {
    color: white;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.05;
    text-align: right;
}

/* about us */
.about {
    background: #ffffff;
    padding: 90px 0;   
}

.about-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.about-text h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #111;
}

.about-text p {
    font-size: 15px;
    line-height: 1.7;
    color: #444;
    margin-bottom: 20px;
    max-width: 460px;
}

.about-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* what we do */
.whatwedo {
background: #33292a;
color: white;
padding: 120px 0;
}

.whatwedo-container {
max-width: 1000px;
margin: auto;
text-align: center;
}

.whatwedo h2 {
font-size: 32px;
margin-bottom: 30px;
}

.whatwedo-text {
font-size: 15px;
line-height: 1.8;
max-width: 800px;
margin: 0 auto 80px;
color: #ddd;
}

/* ICONS */
.whatwedo-icons {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 80px;
}

.icon-box {
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}

.icon-box img {
width: 60px;
height: auto;
}

.icon-box h3 {
font-size: 16px;
font-weight: 600;
}


