* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.topbar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    background: #3a2e2e;
    z-index: 10;
    display: flex;
    align-items: center;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover{
    opacity: 0.8;
}



